*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9dbdc;
  }
  
  ul {
    width: 100%;
    max-width: 1000px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #e9eaea, 3px 3px 5px #ceced1;
    font-size: 30px;
    color: #333;
  }
  
  ul li a:hover {
    box-shadow: inset -3px -3px 7px #e9eaea, inset 3px 3px 5px #ceced1;
  }
  
  ul li:nth-child(1):hover a {
    color: red;
  }
  
  ul li:nth-child(2):hover a {
    color: rgb(86, 53, 216);
  }
  
  ul li:nth-child(3):hover a {
    color: rgb(9, 84, 164);
  }
  
  ul li:nth-child(4):hover a {
    color: rgb(218, 21, 208);
  }
  