*,::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  linear-gradient(to top, rgb(252, 203, 203), rgb(137, 158, 197));
}

.container {
    width: 400px;
    background: #f1f1f1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2)
}

.container header {
    display: flex;
    align-items: center;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
}

.container header label {
    z-index: 2;
    height: 100%;
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    /* border: 1px solid rgb(227, 227, 227); */
}

.container header label:nth-child(2){
    width: 40%;
}

.slider {
    position: absolute;
    height: 85%;
    background:  linear-gradient(to top, rgb(252, 203, 203), rgb(137, 158, 197));
    border-radius: inherit;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
}


#tab1:checked ~ header .slider {
    left: 0%;
    transform: translateX(5%);
    width: 90px;
}
#tab2:checked ~ header .slider {
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}
#tab3:checked ~ header .slider {
    left: 100%;
    transform: translateX(-105%);
    width: 95px;
}


#tab1:checked ~  header .tab1, #tab2:checked ~  header .tab2 , #tab3:checked ~  header .tab3 {
    color: #f1f1f1;
}

.container input[type="radio"]{
    display: none;
}

.grids {
    overflow: hidden;
}

.card {
    width: 300%;
    display: flex;
}

.card .row {
    width: 33.4%;
}

.card .row1 {
    transition: margin-left .2s ease-in-out
}

#tab1:checked ~  .grids .card .row1 {
    margin-left: 0%;
}
#tab2:checked ~   .grids .card .row1{
    margin-left: -33.4%;
}
#tab3:checked ~   .grids .card .row1 {
    margin-left: -66.8%;
}


.price {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(137, 158, 197);
}

.price span  {
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.price span::after, .price span::before {
    font-size: 20px;
    position: absolute;
}
.price span::after  {
 content: "€";
  top: 0.7rem;
 right: -1rem;
}
.price span::before  {
 content: "/par mois";
 right: -4rem;
 bottom: 1rem;
 font-size: 13px;
}
.price p {
font-weight: 400;
margin-top: 5px;
}


.content li {
    list-style: none;
    align-items: center;
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}

.content li ion-icon {
 color: green;
 margin-right: 1rem;
}


 button {
    display: inline-block;
    width: 100%;
    height: 50px;
    background:  linear-gradient(to top, rgb(252, 203, 203), rgb(137, 158, 197));
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #f1f1f1;
    cursor: pointer;
    margin-top: 1rem;
    transition: transform .2s ease;
}

button:hover {
    transform: scale(0.95)
}
