* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}


html, body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #d1d1d1;
  color: #333
}

.container {
width: 600px;
background: #f1f1f1;
box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
border-radius: 10px;
padding: 25px 30px;
}

.bar {
margin: 20px 0;
}
.bar:first-child {
margin-top: 0;
}

.info {
margin-bottom: 0.5rem;
}
.info span {
  font-size: 18px;
  font-weight: 400;
 opacity: 0;
animation: show 0.5s 1s linear forwards;

}

@keyframes show {
100% {
  opacity: 1;
}
}
.progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #e8e8e8;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,.05),
                                0px 1px 1px rgba(255,255,255,.05);
animation: bar 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line  span {
  height: 100%;
  width: 80%;
  background: #db6008;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  animation: bar 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes bar {
  100% {
    transform: scaleX(1)
  }
}

.progress-line  span::before {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #333;
  opacity: 0;
  animation: show2 0.5s 1.8s linear forwards;
}

.progress-line  span::after {
  position: absolute;
  right: 0;
  top: -24px;
  background: #333;
  font-size: 12px;
  color: #f1f1f1;
  padding: 1px 8px;
  font-weight: 400;
  border-radius: 3px;
  opacity: 0;
  animation: show2 0.5s 1.8s linear forwards;
  
}

@keyframes show2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html  span::after {
  content: "90%"
}
.progress-line.css  span::after {
  content: "80%"
}
.progress-line.js  span::after {
  content: "70%"
}
.progress-line.sql  span::after {
  content: "75%"
}
.progress-line.php  span::after {
  content: "95%"
}


.progress-line.html  span {
width: 90%;
}
.progress-line.css  span {
 width: 80%;
}
.progress-line.js  span {
width: 70%;
}
.progress-line.sql  span {
 width: 75%;
}
.progress-line.php  span {
 width: 95%;
}