*, ::before, ::after {
box-sizing: border-box;
margin: 0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #6ecff2;
    padding: 0 20px;
    position: relative;
}


.wrapper {
    max-width: 1130px;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}

.wrapper .card {
    width: (33% - 13px)  ;
    background: #fff;
    border-radius: 5px;
    margin: 0 0.2rem;
    position: relative;
    overflow: hidden;
}

.wrapper .card img {
    width: 100%;
    border-radius: 5px;
    transition: transform .2s ease-in-out;
}

.card .content {
    padding: 10px 20px 22px 20px;
    position: absolute;
    width: 100%;
    background: #f1f1f1;
    bottom: -50%;
    transition: bottom 0.2s ease-in-out;
    box-shadow: 0px -3px 10px rgba(0,0,0,.2)
}

.wrapper .card:hover .content{
    bottom: 0;
}

.wrapper .card:hover img {
    transform: scale(1.1)
}

.card .content .row, 
.card .content .btns {
    display:flex;
    justify-content: space-between; 
}

.content .row  .infos span {
    font-size: 22px;
    font-weight: 500;
}

.content .row  .infos p {
    color: #333;
    font-size: 17px;
    font-weight: 400;
}

.card .content .row .prix{
    font-size: 25px;
    font-weight: 600;
    color: #6ecff2;
}

.card .content .btns {
    margin-top: 1rem;
    margin-left: 20px;
}

.card .content .btns button {
    outline: none;
    border: none;
    width: 100%;
    font-size: 17px;
    padding: 10px 0;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #6ecff2;
    cursor: pointer;
    text-transform: uppercase;
}
.card .content .btns button:nth-child(1){
    margin-right: 1rem;
    color: #6ecff2;
}
.card .content .btns button:nth-child(2){
    background: #6ecff2;
    color: #ffffff;
}
.card .content .btns button:nth-child(1):hover{
    background: #428096;
    border: 2px solid #428096;
    color: #ffffff;
}
.card .content .btns button:nth-child(2):hover{
    border: 2px solid #428096;
    background: #428096;
}



.panier {
    position: absolute;
    top:3rem;
    right:3rem;
    transform: translate(-50%,-50%);
    width: 150px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffff;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    color: #6ecff2;
    font-size: 16px;

}


.panier .number{
    width: 30px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #f26e6e;
    color: #fff;
    border-radius: 50%;
}


