*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(14, 30, 49);
}

.content {
  margin-left: 140px;
  margin-right: 20px;
}
.content h1 {
text-align: center;
font-size: 50px;
color: #f1f1f1;
margin-bottom: 1rem;
}

.content p {
  font-size: 15px;
  color: #f1f1f1;
}

.content p:first-letter {
  font-size: 30px;
  color: orange;
}



.items img {
  width: 30px;
  display: block;
  margin-bottom: 1rem;
}


.nav-liste {
  position: fixed;
  top: 0;
  left: 0;
  height: 100ch;
  min-height: 100vh;
  width: 110px;
  background: rgb(14, 52, 99);
  cursor: pointer;
  z-index: 20;
  border-right: 1px solid orange;
}

.items:nth-child(1){
  font-style: 20px;
  color: #f1f1f1;
  font-weight: bold;
}

.items {
  height: 110px;
  width: 100%;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid orange;
}


/* sous-menu */

.sous-menu {
  position: fixed;
  top: 0px;
  left: -220px;
  width: 230px;
  height: 100vh;
  background: rgb(25, 99, 190);
  border-right: 1px solid orange;
  color: #f1f1f1;
  z-index: 5;
  transition: all .2s ease-in;
}

.sous-menu-items {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  cursor: pointer;
}

.sous-menu-items:hover {
  background: rgb(14, 52, 99);
}

.sous-menu-titre {
  color: #333
}

.sous-menu img {
  width: 15px;
    display: block;
    margin-bottom: 1rem;
}

.sous-menu p{
  margin-left: 10px;
}

.sous-menu.active {
  left: 110px;
}