* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html, body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: #d1d1d1;
}
.liste {
    list-style: none;
}

.liste li {
    display: inline-flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d1d1d1;
    margin: 0 1rem;
    padding: .2rem;
    box-shadow: -1px -1px 3px  rgba(255,255,255),
                            2px 2px 7px  rgba(0,0,0,.2);

}

.liste li a {
    width: 100%;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: #333;
    
}

.liste li a:hover {
    box-shadow: inset -1px -1px 3px  rgba(255,255,255),
                           inset  2px 2px 7px  rgba(0,0,0,.2);
 color: rgb(137, 137, 137);
}