#citation-container {
  text-align: center;
  margin-top: 50px;
}

#citation {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 20px;
}

#citation span {
  display: block;
  margin-bottom: 10px;
}

button {
  font-size: 24px;
  background-color: #006699;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004466;
}
