*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #d6e3f5;
    
}

p {
    font-size: clamp(30px, 5vw, 70px);
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: 900;

}

p span {
    color: rgb(81, 81, 81);
    opacity: 0;
    display: inline-block;
    transform: translate(-300px, 0) scale(0);
    animation: anim .5s forwards ;
    text-shadow: 3px 3px 5px rgba(0,0,0,.2)
}

p span:nth-child(2) {
    animation-delay: .05s
}
p span:nth-child(3) {
    animation-delay: .1s
}
p span:nth-child(4) {
    animation-delay: .15s
}
p span:nth-child(5) {
    animation-delay: .20s
}
p span:nth-child(6) {
    animation-delay: .25s
}
p span:nth-child(7) {
    animation-delay: .30s
}
p span:nth-child(8) {
    animation-delay: .35s
}
p span:nth-child(9) {
    animation-delay: .40s
}
p span:nth-child(10) {
    animation-delay: .45s
}
p span:nth-child(11) {
    animation-delay: .5s
}
p span:nth-child(11) {
    animation-delay: .55s
}
p span:nth-child(12) {
    animation-delay: .6s
}


@keyframes anim {
    60%{
        transform: translate(20px, 0) scale(1.6);
        color: rgb(81, 81, 81);
    }
    80%{
        transform: translate(20px, 0) scale(1.8);
        color: rgb(81, 81, 81);
    }
    99%{
        transform: translate(0) scale(1.2);
        color: #ff3f3f;
    }
    100%{
        transform: translate(0) scale(1.2);
        color: rgb(81, 81, 81);
        opacity: 1;
    }
}