@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Handjet', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111111;
}

.clock {
    color: #ae1414;
    font-size: clamp(70px, 5vw, 80px);
    text-shadow: 0 0px 5px red;
}