* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html, body {
  display: grid;
  height: 100vh;
  place-items: center;
  text-align: center;
  background: #d9d9d9;
}

.container {
  width: 80vw;
  height: 80px;
  background: #fff;
  line-height: 80px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}

.menu {
  display: flex;
  position: relative;
}

.menu li {
  list-style: none;
  flex: 1;
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}

.menu li a {
  color:#333;
  transition: color 0.3s ease-in-out;
}
.menu li:hover a {
  color: crimson;
}
.menu li:first-child a {
  color: crimson;
}


.menu .line {
  height: 5px;
  width: 20%;
  background: crimson;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.3s ease-in-out;
}

.menu li:nth-child(2):hover ~ .line {
 left: 20%;
}
.menu li:nth-child(3):hover ~ .line {
 left: 40%;
}
.menu li:nth-child(4):hover ~ .line {
 left: 60%;
}
.menu li:nth-child(5):hover ~ .line {
 left: 80%;
}

