* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}


html, body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #d1d1d1;
}

.container {
  width: 350px;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  background: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
}
.container .title {
  background: crimson;
  color: #f1f1f1;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
}


.box {
  padding: 20px 40px;
  background: #f1f1f1;

}

.box label {
  display: flex;
  height: 53px;
  width: 100%;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  margin: 10px 0;
  padding-left: 20px;
  cursor: default;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.box label .dot {
  height: 20px;
  width: 20px;
  background: #e7e7e7;
  border-radius: 50%;
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.box label .dot::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: inherit;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}

#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2 ,
#option-3:checked ~ .option-3 ,
#option-4:checked ~ .option-4 {
  background: crimson;
  color: #f1f1f1;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before ,
#option-3:checked ~ .option-3 .dot::before ,
#option-4:checked ~ .option-4 .dot::before {
  background: crimson;
}

input[type='radio'] {
  display: none;
}