*  {
box-sizing: border-box;
margin: 0;
padding:0;
font-family: Arial, Helvetica, sans-serif
}

body {
    background: #ededed;
}

.btn-modal {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(255, 162, 0), rgb(255, 68, 0));
    color: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: transform .2s ease-in;
    transform: scale(1);
    z-index: 1;
}

.btn-modal:hover {
    transform: scale(1.2);
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    background: #f1f1f1;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    border-radius: 20px;
    z-index: 2;
    display: none;
}

.container.active {
    display: block;
}

h2 {
    background: linear-gradient(to top, rgb(255, 162, 0), rgb(255, 68, 0));
    border-radius: 20px 20px 0 0;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 30px;
    position: relative;
}

h2 span {
    color: rgb(55, 17, 3);
    margin-left: .5rem;
}
.close {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    color: #333;
    cursor: pointer;
}

.box-chat {
    padding: 20px;
    width: 100%;
}

.box-chat p {
    color: #333;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.box-chat  form {
    padding: 10px 15px;
    margin: 20px 0;
    border: 1px solid #d1d1d1;
    border-radius: 25px;
    
}

.box-chat  form .box-form  {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.box-chat  form .box-form:last-child {
    margin-bottom: 15px;
}


.box-chat  form .box-form input, 
.box-chat  form .box-form  button,
.box-chat  form .box-form  textarea {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 25px;
    font-size: 16px;
}
.box-chat  form .box-form input:focus, 
.box-chat  form .box-form  textarea:focus {
 border-color: #9eff61;
}
.box-chat  form .box-form input::placeholder, 
.box-chat  form .box-form  textarea::placeholder {
    color: #d1d1d1;
}
.box-chat  form .box-form input:focus::placeholder, 
.box-chat  form .box-form  textarea:focus::placeholder {
    color: #b6b6b6;
}

.box-chat  form .box-form  textarea {
    padding-top: 0.5rem;
    resize: none;
    font-size: 16px;

}

button {
    border: none;
    background: linear-gradient(to top, rgb(255, 162, 0), rgb(255, 68, 0));
    width: 100%;
    height: 50px;
    color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    margin: .5rem 0;
    padding: 0!important;
}

button:hover {
    background: linear-gradient(to top, rgb(172, 46, 0),  rgb(149, 95, 3));
}