
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*, ::after, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
  font-family: 'Anton', sans-serif;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(11, 13, 36);
  text-transform: uppercase;
}
.title {
  position: relative;
}

.title span {
  color:rgb(11, 13, 36);
  font-size: clamp(10px, 2em, 80px);
  text-align: center;
  transition: 0.5s;
  will-change: transform;
  display: inline-block;
}

.c1 span {
  transform-origin: bottom;
}
.c2 span {
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
  color: crimson;
}

.c2 {
  position: absolute;
  top: 0;
  left: 0;
}

.title:hover .c1 span {
  transform: translateY(-100%) rotateX(-90deg)
}
.title:hover .c2 span {
  transform: translateY(0%) rotateX(0deg)
}
