*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
    body {
     min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 0 1rem;
    background: linear-gradient(to top, rgb(175, 215, 238), rgb(25, 25, 94))
    }
    
    .container {
        background: #fff;
        width: 100%;
        max-width: 800px;
        padding: 25px 40px 10px 40px;
        box-shadow: 0 5px 5px rgba(0,0,0,.2)
    }
    
    .container h2 {
        font-size: 35px;
        font-weight: 900;
        text-align: center;
        background: linear-gradient(to right, rgb(175, 215, 238), rgb(25, 25, 94));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    
    .container form {
        width: 100%;
        padding: 30px 0 0 0;
    }
    
    .container form .form-row {
        display: flex;
        margin: 32px 0;
        position: relative;
        
    }
    
    form .form-row  .input-data {
        width: 100%;
        height: 40px;
        margin: 0 20px;
        position: relative;
    }
    
    
    
    form .form-row textarea {
        height: 70px;
        resize: none;
        padding-top: 0.5rem;
    }
    
    .input-data input,
    .container button,
    .form-row textarea {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 17px;
        border: none;
        outline: none;
        border-bottom: 1px solid #d1d1d1;
    }
    
    .form-row  label {
        position: absolute;
        bottom: 10px;
        font-size: 16px;
        pointer-events: none;
        color: #8f8f8f;
        transition: transform .2s ease-in, color .2s ease-in;
    }
    
    .textarea label {
        width: 100%;
        bottom: 40px;
    }
    
    .container button {
        display: block;
        margin-top: 4rem;
        background: rgb(86, 86, 188);
        color: #f1f1f1;
        font-weight: bold;
        height: 50px;
        cursor: pointer;
        border-radius: 5px;
        transition: background .2s ease-in;
    }
    
    .container button:hover {
        background: rgb(25, 25, 94);
    }
    
    .underline {
        position: absolute;
        width: 0%;
        height: 2px;
        background: rgb(25, 25, 94);
        transition: width .2s ease-in-out;
    }
    
    
    .input-data input:focus ~ label,
    .input-data input:valid ~ label,
    .textarea textarea:focus ~ label,
    .textarea textarea:valid ~ label
    {
        transform: translateY(-25px);
        color: #d1d1d1;
        font-size: 14px;
    }
    .input-data input:focus ~ .underline, .input-data textarea:focus ~ .underline{
       width: 100%;
    }
    
    
    @media screen and (max-width: 700px){
        .container h2 {
            font-size: 30px;
        }
        .container form {
            padding: 10px 0 0 0;
        }
    
        .container form .form-row {
            display: block;
        }
    
        form .form-row .input-data {
            margin: 35px 0!important;
        }
    }
    