*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0e0e0e;
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #f1f1f1;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.slider {
    overflow: hidden;
    height: 50px;
}

.slider div div {
display: inline-block;
color: white;
padding: 2px 12px;
border-radius: 2px;
margin-bottom: 45px;
}

.slider div:nth-child(1) div {
    background: #ffa200;
}
.slider div:nth-child(2) div {
    background: #0946fe;
}
.slider div:nth-child(3) div {
    background: #ffde06;
    color: #333;
}


.slider div:nth-child(1) {
    animation: anim 5s linear infinite;
}

@keyframes anim {
    0% {margin-top: -270px;}
    5% {margin-top: -180px; }
    33% {margin-top: -180px; }
    38% {margin-top: -90px; }
    66% {margin-top: -90px; }
    71% {margin-top: 0px; }
    99.99% {margin-top: 0px; }
    100% {margin-top: -270px; }
}