*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

p {
    font-size: 50px;
    font-weight: 600;
    color: silver;
    cursor: pointer;
}



p span {
    display: inline-block;
    font-weight: 700;
    font-size: 50px;
    transition: transform .3s cubic-bezier(.68,-.55,.265,1.55)
}
p:hover span{
    color: crimson;
    transform: translateY(-30px)
}