* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #e0e0e0;
}

.container {
  display: inline-flex;
}

.icon {
  margin: 0 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  
}



.icon span {
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,.3);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.icon span ion-icon {
  line-height: 60px;
  font-size: 25px;
  display: block;
  margin: 0 auto;
  height: 60px;
}

.facebook:hover span{
  color: rgb(0, 94, 255);
}
.instagram:hover span{
  color: rgb(222, 0, 129);
}

.youtube:hover span{
  color: red;
}
.snapchat:hover span{
  color: rgb(255, 196, 0);
}


.icon .tooltip {
background: #fff;
box-shadow: 0 5px 5px rgba(0,0,0,.3);
font-size: 20px;
padding: 10px 18px;
border-radius: 25px;
position: absolute;
top: -70px;
opacity: 0;
pointer-events: none;
margin-top: -10px;
transition: opacity .2s ease-in, margin-top .2s ease-in;

}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.facebook:hover .tooltip{
  background: rgb(0, 94, 255);
  color: #fff;
}
.instagram:hover .tooltip{
  background: rgb(222, 0, 129);
  color: #fff;
}

.youtube:hover .tooltip{
  background: red;
  color: #fff;
}
.snapchat:hover .tooltip{
  background: rgb(255, 196, 0);
  color: #fff;
}

.icon:hover .tooltip:before {
  background: inherit;
}

.icon:hover .tooltip {
  opacity: 1;
  margin-top: 0;
}